<head>
  <style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>

<div class="col-sm-10">
  <h2>Data:</h2>
  <table>
    <thead>
      <tr>
        {{#each keys}}
            <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each dataList}}
        <tr>
          {{#each ../keys}}
      	      <td>{{lookup .. this}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>