<div class="col-sm-10">
    <h2>Databases/Divisions:</h2>
    <ul>
        {{#each dbList}}
        <li>
            <a href="{{path}}">
                {{dbName}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>