<div class="col-sm-10">

    <head>
        <title>H.M.S</title>
        <link href="/bootstrap.min.css" rel="stylesheet">
        <script src="/bootstrap.bundle.min.js" type="text/javascript"></script>
    </head>
    <h2>Home Monitoring System Web Application</h2>
    <li>
        <a href="http://localhost:8080/db">
            Databases
        </a>
    </li>
</div>